<html>
<head><title>SEARCH</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="loginstyle.css">
</head>
<body>
	<div class="container">
		<div class="rows">
			<div class="col-lg-12">
				<form>
					<div class="form-group">

					<h1>Time to shorten</h1>
					<input name="form-control" type="text" placeholder="text" required>
				</form>
			</div></div>
		</div>
	</body>
	</html>
